<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.tapacross.sns.crawler.instagram.keyword.mapper.InstagramReKeywordMapper">
	<select id="selectSiteBySiteOldId" parameterType="string" resultType="TBCrawlSite">
		SELECT *
		FROM TB_CRAWL_SITE
		WHERE 1=1
		AND SITE_TYPE = 'I'
		AND SITE_ID_OLD = #{value}
		AND ROWNUM &lt; 2
		ORDER BY LAST_UPDATED_DATE DESC
	</select>
</mapper>